@import "tailwindcss";

@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@theme inline {
	--font-outfit: "Outfit", sans-serif;
	--font-playfair: "Playfair Display", serif;

	--color-primary: #048858;
	--color-secondary: #0f5c95;
}

/* Apply Global Style */
body {
	&::-webkit-scrollbar {
		@apply w-2 bg-stone-200;
	}
	&::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-stone-400;
	}
	&::-webkit-scrollbar-thumb:hover {
		@apply bg-stone-500;
	}

	@apply bg-neutral-100 text-neutral-600;
	@apply font-outfit font-light;
}
